html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
}

select, option, textarea, input {
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
}

#tabs { margin: 0; padding: 0; border: 0;}
/* div#tabs .tabs-spacer { float: left; min-height: 100%; display: inline-block; padding: 0; margin: 0; } */
div#tabs .ui-tabs-panel { padding: 0; margin: 0; }
div#tabs div#board-tab { overflow: hidden !important; }
/* div#tabs ul.ui-tabs-nav { background: 0; background-color: #222; border: 0; } */

div#viewport {
    min-height: 100%;
}

div#board ._tile {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIElEQVQYV2OcP3/+fwYiACNI4a9fvwgqHVWIN4iIDh4AbuY3AUcrWFoAAAAASUVORK5CYII=);
}

div.uml-object {
    position: absolute;
    padding: 10px;
    top: 20px;
    left: 120px;
    z-index: 2;
    border: 1px solid #666;
    background-color: #222;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}

div.uml-object input.object-name {
    font-weight: bold;
    color: #EF3C7B;
    border: 0;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
    margin-bottom: 2px;
    background-color: #222;
}

div.uml-object input.delete-object {
    position: relative;
    float: right;
    width: 20px;
    height: 20px;
    background-color: #222;
}

div.uml-object ul.fields {
    border-top: 1px solid #666;
    padding-top: 2px;
}

div.uml-object ul.fields li {
    position: relative;
    clear: both;
}

div.uml-object ul.fields li input.delete-field {
    position: relative;
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    background-color: #222;
}

div.uml-object ul.fields li input.name {
    position: relative;
    float: left;
    border: 0;
    padding: 0;
    margin: 0;
    background-color: #222;
}

div.uml-object ul.fields li select.type {
    position: relative;
    float: right;
    color: #36D986;
    background-color: #222;
    border: 1px solid #222;
}

div.uml-object ul.fields li select.type option {
    color: #36D986;
    background-color: #222;
}

div.uml-object div.add-field-wrapper {
    clear: both;
    text-align: center;
}

div.uml-object input.add-field {
    position: relative;
    clear: both;
    margin: 0 auto;
}

/* Toolbar Styles */
#toolbar {
    padding: 4px;
    display: inline-block;
    z-index: 2;
    position: absolute;
    left: 20px;
    top: 60px;
}

#toolbar .ui-button {
    float: left;
    clear: both;
    margin-right: 0;
    margin-bottom: .1em;
}

/* Field Option Styles */
div#field-options {
    padding: 4px;
    display: inline-block;
    z-index: 2;
    position: absolute;
    right: 20px;
    top: 60px;
    background-color: #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

div#field-options ul li.option input {
    border: 0;
    padding: 0;
    margin: 0;
    background-color: #dfdfdf;
    color: #222;
}

div#field-options ul li.option input.key {
    margin-right: 2px;
}

div#field-options div.add-field-option-wrapper {
    clear: both;
    text-align: center;
}

div#field-options input.add-field-option {
    position: relative;
    clear: both;
    margin: 0 auto;
}

div#code-options {
    padding: 10px;
}

div#code-options select#generator {
    color: #222;
}

div#code-options select#generator option {
    color: #222;
}
