<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>GroumL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/styles.css" />

    <script src="//code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="http://static.stackmob.com/js/stackmob-js-0.9.1-bundled-min.js"></script>

    <script src="js/libs/jquery.infinitedrag.js"></script>
    <script src="js/libs/jquery.selecttext.js"></script>

    <script>
        StackMob.init({
            publicKey: '658ce1da-6317-4182-9f92-056c493226ea',
            apiVersion : 0
        });
    </script>
    <script src="js/models.js"></script>
    <script src="js/collections.js"></script>
    <script src="js/queries.js"></script>
    <script src="js/views2.js"></script>
    <script src="js/routers.js"></script>
    <script src="js/init.js"></script>
</head>
<body>

<div id="viewport">
    <div id="wall"></div>
</div>

<div id="toolbar" class="ui-widget-header ui-corner-all">
  <button id="add-class-diagram">Class Diagram</button>
</div>

</body>

<script type="text/template" id="type_options_template">
    <% _.each(types, function(t) { %>
        <option value="<%= t %>" <% if(current == t) { %> selected="selected" <% } %>><%= t %></option>
    <% }); %>
</script>

<script type="text/template" id="field_options_title_template">
<p><%= objectName %>.<%= fieldName %> options</p>
</script>

<script type="text/template" id="tpl-object-view">
<input class="object-name" value="Person">
<ul class="fields"></ul>
<div tabindex="-1" class="add-field-wrapper">
    <input type="image" tabindex="-1" src="img/glyphicons/glyphicons_190_circle_plus.png">
</div>
</script>

</html>